<table>
  <thead></thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td>{{ event.subject }}</td>
      <td>{{ event.organizer[0].name }}</td>
      <td>{{ event.organizer[0].email }}</td>
      <td>
        <ul>
          <li *ngFor="let guest of event.guests">{{ guest.name }}</li>
        </ul>
      </td>
      <td>{{ event.startDateTime }}</td>
      <td>{{ event.endDateTime }}</td>
      <td>{{ event.description }}</td>
      <td>{{ event.channel }}</td>
      <td>{{ event.location }}</td>
      <td>{{ event.teamsLink }}</td>
    </tr>
  </tbody>
</table>
